<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InternationalizationAPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC2A52011D3E08AC002D3147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC2A521A1D3E08AC002D3147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC2A52251D3E08AC002D3147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
